.sign-in-and-sign-up {
  background-color: black;
  height: 100vh;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 30%;

    .sign-in,
    .sign-up {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8% 5%;
      color: white;

      button {
        min-width: 165px;
        width: 90%;
        height: 50px;
        letter-spacing: 0.5px;
        line-height: 50px;
        padding: 0 35px 0 35px;
        font-size: 15px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
        font-weight: bolder;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
        }

        &.google-sign-in {
          background-color: #4285f4;
          color: white;

          &:hover {
            background-color: #357ae8;
            border: none;
          }
        }
      }

      span {
        width: 70%;
        margin: 0.7em auto;
        overflow: hidden;
        text-align: center;
        font-weight: 300;
        color: white;
      }
      span:before,
      span:after {
        content: '';
        display: inline-block;
        width: 50%;
        margin: 0 0.5em 0 -55%;
        vertical-align: middle;
        border-bottom: 1px solid;
      }
      span:after {
        margin: 0 -55% 0 0.5em;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin-top: 5%;
        padding: 1%;

        input {
          margin: 5% 5%;
          width: 60%;
        }

        label {
          margin: 5% 2% 0 0;
        }

        .reset-password {
          font-size: 0.75em;
          width: 100%;
          margin-left: 150%;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .redirect-sign-up {
        display: flex;

        .redirect-link {
          color: royalblue;
          text-decoration: underline;
          margin-right: 0.5em;

          &:hover {
            cursor: pointer;
            // color: #212529;
            color: red;
            // text-shadow: .1px .75px royalblue;
          }
        }

        p {
          font-size: 0.75em;
        }
      }
    }
  }
}
