.toggle-window {
    display: flex;
    flex-direction: row;
    width: 80%;
   justify-content: space-around;
   
}

.toggle-buttons {
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    border: 2.5px  outset white;
    border-radius: 2%;
    
}

/* .toggle-disadvantage-section {
    padding-left: 10%;
} */

/* #toggle-advantage {
    background-color: whitesmoke;
}

#toggle-disadvantage {
    background-color: darkgray;
} */