.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 5%;
  font-size: 1.25rem;

  .nav-tabs {
    border-bottom: none;
  }

  .nav-tabs .nav-link {
    font-weight: bolder;
  }

  .nav-tabs .nav-link.disabled {
    color: white;
  }

  li:nth-child(2) button {
    color: seagreen;
  }

  li:nth-child(3) button {
    color: brown;
  }
}
