.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 5%;
  

  .toggle-advantage-section {
    font-size: 1.25rem;
    
  }

  .nav-tabs .nav-link.disabled  {
    color: white;
    // background-color: lightcoral;

    #tab-advantages {
      color: seagreen;
    }
    
  }

  
  .toggle-advantages-disadvantages {
    border-bottom: none;
    font-weight: bolder;

  


   
    .nav-item, button {
      // color: brown;
      font-weight: bolder;
      
    
      #tab-choose-from {
        // color: whitesmoke;
        background-color: yellowgreen;
      }
      #tab-advantages {
        color: seagreen;
      }
      #react-aria6387250207-2-tab-disadvantages {
        color: brown;
      }
    }
  }

}

