.toggle-window {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 5%;

  p {
    margin-right: 1rem;
  }

  .toggle-buttons {
    font-weight: bold;
    width: 10rem;
    height: 2rem;
    border: 2.5px outset white;
    border-radius: 2%;
  }
}


