.dropdown-button {
    .dropdown-toggle {
        background-color: black;
        color: white;
        padding: 2rem;
        width: 13rem;
        height: 7rem;
        margin: 8%;
        font-size: 1rem;
        font-weight: bold;
        border-color: whitesmoke;
        border-radius: 10%;
    }

    .dropdown-link {
        background-color: black;
        color: white;
        height: 4rem;
        width: 100%;
        font-size: 1.5rem;
    }
}

