.results-window {
    display: none;
    white-space: pre-wrap;
    background-color: cornsilk;
    /* padding: 0% 2%; */
}

.button-container {
    display: flex;
    justify-content: center;
    background-color: black;
}

.tool-button {
    /* background-color: white; */
    background-color: black;
    /* color: black; */
    color: white;
    padding: 2rem;
    width: 10rem;
    margin: 2%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10%;
}

.results-container {
    background-color: blanchedalmond;
    font-size: 1.5rem;
    margin: 10%;
    border: 10px solid black;
    border-radius: 20%;
    padding: 2% 5% 5% 5%;
}

.points {
    background-color: black;
    color: whitesmoke;
    padding: 1%;
    width: 20%;
}

.sub-category {
    background-color: whitesmoke;
    border: 5px solid black;
    /* width: 100%; */
    margin: 2%;
    padding: 2%;
}

