.results-window {
    display: none;
    white-space: pre-wrap;
    background-color: cornsilk;
    padding: 2%;
}

.results-container {
    background-color: blanchedalmond;
    font-size: 1.5rem;
    margin: 10%;
    border: 10px solid black;
    border-radius: 20%;
    padding: 2% 5% 5% 5%;
}

.points {
    background-color: black;
    color: whitesmoke;
    padding: 1%;
    width: 20%;
}

.sub-category {
    background-color: whitesmoke;
    border: 5px solid black;
    margin: 2%;
    padding: 2%;
}